body {
    color: #ffff;
    font-family: "Nunito", sans-serif;
    background-color: #212121;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}

@media (max-width: 910px) {
    body {
        display: flex;
        flex-direction: column;
    }
}

a:link {
    color: #ffae00;
    text-decoration: none;
}

a:visited {
    color: #ffae00; 
}

a:hover {
    text-decoration: underline;
}

body header {
    display: flex;
    justify-content: center;
}

@media (max-width: 450px) {
    header {
        margin: 0 2rem;
    }
}

h1 {
    font-size: 300%;
}

@media (max-width: 910px) {
 h1 {
    font-size: 200%
 }
}

.introduction {
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    padding: 5rem 10rem;
    justify-content: space-between;
    gap: 1.5rem;
}

.intro_text {
    grid-column: 1/2;
    grid-row: 1/2;
}
.intro_pic {
    grid-column: 2/3;
    grid-row: 1/2;
}

.intro_pic img {
    height: auto;
    width: 200px;
}


 @media (max-width: 1300px ) {
    .introduction {
        display: flex;
        flex-direction: column;
        padding: 2rem 10rem;
        justify-content: space-between;
        gap: 1.5rem;
    }
    
    .intro_pic img {
        width: 100px;
    }
}

@media (max-width: 590px) {
    .introduction {
        padding: 1rem 3rem 8rem;
    }
}

.projets-cont {
    display: grid;
    grid-template-columns: auto;
    /* padding: 5rem 15rem; */
    justify-content: space-between;
    gap: 3.5rem;

}

@media (max-width: 1150px) {
    .projets-cont {
        margin: 0 2rem;
    }
}

.projets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
}


.D {
    flex-direction: row-reverse;
}

@media (max-width: 1150px) {
    .D {
        flex-direction: row;
    }
}

@media (max-width: 910px) {
    .projets {
        flex-direction: column;
    }
}

.projets img {
    height: auto;
    width: 500px;
}

@media (max-width: 1300px) {
    .projets img {
      width: 300px;
    }
}

.projets p {
    align-self: center;
    margin: 0;
}


footer {
    margin: 5rem 0em;
    justify-self: center;
}

.footer-cont {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.footer-cont a {
    background-color: #333333;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    border-style: double;
    text-decoration: none;
}

.footer-cont a:hover {
    color: aliceblue;
}